<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="MedDb" connectionString="Data Source=.;Initial Catalog=MED;User ID=test;Password=test;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>
    
    </system.webServer>
</configuration>
