<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="GoogleClientId" value="893979774944-g05nrpl1lgjjfc5aj17tge4f6m691fre.apps.googleusercontent.com" />
    </appSettings>

    <connectionStrings>
        <add name="MedDb" connectionString="Data Source=.;Initial Catalog=MED;User ID=med;Password=medshmed;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>

  <system.web>
    <authentication mode="Forms" />
  </system.web>

    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    
    </system.webServer>
</configuration>
